@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.form {
  &__container {
    width: 100%;

    &.dark {
      background-color: $bg-list-dark;
      border-color: $text-color-completed-dark;
    }
  
    &.light {
      background-color: $bg-list-light;
      border-color: $text-color-completed-light;
    }

  &.border {
    padding: $space-md;
    border-bottom: 1px solid;

    &.dark {
      border-color: $text-color-completed-dark;
    }
  
    &.light {
      border-color: $text-color-completed-light;
    }
  }

  &.noborder {
    padding-top: 1.5%;
  }}

  &__label {
    position: relative;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  &__input {
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    height: 1.58rem;

    &::placeholder {
      color: $text-color-actived-light;
    }

    &.light {
      @include font-stack-main;
    }

    &.dark {
      @include font-stack-main($text-color-main-dark);
    }
  }
}
