@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    @include font-stack-list-light;

}