@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.to-do-section {
    background-color: $bg-main-light;
    @include font-stack-nav-main-light;
    @include flex(space-between, center, column, nowrap);

    &__dark {
        background-color: $bg-main-dark;
        @include font-stack-nav-main-dark;
    }
}

.message-container {
    margin: 2rem 0rem;
    width: 90%;
    padding: 1rem;
    @include font-stack-list-light;
    @include flex(space-between, center, column, nowrap);

    &__dark {
        @include font-stack-list-dark;
    }
}