@use "../partials/variables" as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin flex($justify-content: flex-start, $align-items: stretch, $flex-direction: row, $flex-wrap: nowrap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
}

@mixin style-bg-image-header {
    @include flex(center, center, column, nowrap);
    padding: 2rem 1rem;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: cover;

    @include tablet {
        height: 40vh;
    }
}

@mixin size-icon-mode {
    width: 1.25rem;
    height: 1.25rem;

    @include tablet {
        width: 1.75rem;
        height: 1.75rem;
    }
}

@mixin style-form-list {
    width: 90%;
    background-color: $bg-list-light;
    border-radius: 4px 4px 0 0;

    @include tablet {
        width: 50%;
    }
}