@use '../partials/variables' as *;
@use '../partials/mixins' as *;

@font-face {
  font-family: 'Josefin Sans';
  src:
    url($font-path-bold) format ('woff2'),
    url($font-path-bold) format ('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src:
    url($font-path-regular) format('woff2'),
    url($font-path-regular) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@mixin font-stack($font-size, $font-weight, $line-height: normal, $color) {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
  @content;
}

// Header
@mixin font-stack-header {
  @include font-stack($font-size-md, $bold, normal, $bg-list-light) {
    letter-spacing: 0.3rem;
    text-transform: uppercase;

    @include tablet {
      font-size: $font-size-lg;
    }
  }
}

// Main
@mixin font-stack-main($color: $text-color-main-light) {
  @include font-stack($font-size-sm, $regular, normal, $color);
}

// Action buttons, footer, message
@mixin font-stack-sm($color: $text-color-actived-light) {
  @include font-stack($font-size-xs, $regular, normal, $color);
}

//
@mixin font-stack-quote($color: $bg-list-light) {
  @include font-stack($font-size-md, $regular, 1.6rem, $color);
}
