@use "../partials/variables" as *;
@use "../partials/mixins" as *;

@font-face {
    font-family: 'Josefin Sans';
    src: url('../../assets/fonts/JosefinSans-Bold.woff2') format ("woff2"),
        url('../../assets/fonts/JosefinSans-Bold.woff2') format ("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../../assets/fonts/JosefinSans-Regular.woff2') format("woff2"),
        url('../../assets/fonts/JosefinSans-Regular.woff') format("woff");
    font-weight: 400;
    font-style: normal;
}

@mixin font-stack ($font-family, $font-style, $font-size, $font-weight, $line-height, $color) {
    font-family: $font-family;
    font-style: $font-style;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color;
}


// Header
@mixin font-stack-header {
    @include font-stack ('Josefin Sans', normal, 1.25rem, 700, 1.25rem, $bg-list-light);
    letter-spacing: 0.4rem;
    text-transform: uppercase;

    @include tablet {
        @include font-stack ('Josefin Sans', normal, 1.75rem, 700, 1.75rem, $bg-list-light);
    }
}

// Footer
@mixin font-stack-footer {
    @include font-stack ('Josefin Sans', normal, 0.6875rem, 400, 0.7rem, $text-color-actived-light);
}


// for list of todo
@mixin font-stack-list-light {
    @include font-stack ('Josefin Sans', normal, 1.125rem, 400, 1.56rem, $text-color-main-light);
}

@mixin font-stack-list-dark {
    @include font-stack ('Josefin Sans', normal, 1.125rem, 400, 1.56rem, $text-color-main-dark);
}

// for Navigation
@mixin font-stack-nav-main-light {
    @include font-stack ('Josefin Sans', normal, 0.8rem, 400, 1rem, $text-color-actived-light);
}

@mixin font-stack-nav-main-dark {
    @include font-stack ('Josefin Sans', normal, 0.8rem, 400, 1rem, $text-color-completed-dark);
}

@mixin font-stack-nav-hover-light {
    @include font-stack ('Josefin Sans', normal, 0.8rem, 400, 1rem, $text-color-main-light);
}

@mixin font-stack-nav-hover-dark {
    @include font-stack ('Josefin Sans', normal, 0.8rem, 400, 1rem, $active-bright-blue);
}