// screen size
$desktop-breakpoint: 90rem; // 1440px
$tablet-breakpoint: 48rem; // 768px

// Primary colors
$active-bright-blue: hsl(220, 98%, 61%); // for active navigation

// light theme
$bg-main-light: hsl(236, 33%, 92%); //background-main
$bg-list-light: hsl(0, 0%, 98%); //background-list
$text-color-completed-light: hsl(233, 11%, 84%); // text-color in completed list
$text-color-actived-light: hsl(236, 9%, 61%); //text color in nav, 
$text-color-main-light: hsl(235, 19%, 35%); //text-list, hover text in nav

// dark theme
$bg-main-dark: hsl(235, 21%, 11%); //background-main
$bg-list-dark: hsl(235, 24%, 19%); //background-list
$text-color-completed-dark: hsl(234, 11%, 52%); // text-color in completed list
$text-color-main-dark: hsl(234, 39%, 85%); //text-list