//Breakpoints for responsive design
$desktop-breakpoint: 90rem; // 1440px - for large screens
$tablet-breakpoint: 48rem; // 768px - for medium screens

//Path for fonts
$font-path-bold: '../../assets/fonts/JosefinSans-Bold.woff2';
$font-path-regular: '../../assets/fonts/JosefinSans-Regular.woff2';

//Font size
$font-size-lg: 1.75rem;
$font-size-md: 1.25rem;
$font-size-sm: 1.125rem;
$font-size-xs: 0.8rem;

//Font weight
$bold: 700;
$regular: 400;

// Space
$space-lg: 2rem;
$space-md: 1rem;
$space-sm: 0.5rem;
$space-xs: 0.25rem;

// Action color
$active-bright-blue: hsl(220, 98%, 61%); // for active navigation

// light theme
$bg-main-light: hsl(236, 33%, 92%); //background-main
$bg-list-light: hsl(0, 0%, 98%); //background-list
$text-color-completed-light: hsl(233, 11%, 84%); // text-color in completed list
$text-color-actived-light: hsl(236, 9%, 61%); //text color in nav,
$text-color-main-light: hsl(235, 19%, 35%); //text-list, hover text in nav

// dark theme
$bg-main-dark: hsl(235, 21%, 11%); //background-main
$bg-list-dark: hsl(235, 24%, 19%); //background-list
$text-color-completed-dark: hsl(234, 11%, 52%); // text-color in completed list
$text-color-main-dark: hsl(234, 39%, 85%); //text-list

// Gradient Color - button
$gradient-blue-purple: linear-gradient(to left, #3b6cb7, #d36db9); // Blue to purple gradient

// Neutral Colors (For borders, dividers, and subtle details)
$neutral-light: hsl(210, 15%, 90%); // Light neutral for subtle backgrounds or card details
$neutral-dark: hsl(210, 15%, 20%); // Dark neutral for text and borders in dark mode
$neutral-medium: hsl(210, 10%, 50%); // Medium neutral for borders or section dividers
