@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.button {
  cursor: pointer;
  border: none;

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.8;
  }

  &__count {
    margin: 0 $space-xs;
  }

  &.round {
    background: transparent;
    border: 2px solid $bg-list-light;
    @include border-radius(50%);
    @include flex(center, center);
    padding: $space-sm;
    @include transition(transform 0.2s);

    &:hover {
      @include transform(scale(1.1));
    }
  }

  &.icon-inside {
    @include size-icon(1.5, 1.5);
    color: $bg-list-light;
  }

  &.filled {
    background: $gradient-blue-purple;
    @include border-radius($space-sm);
    @include box-shadow(0px, 4px, 6px,rgba(0, 0, 0, 0.1));
    @include font-stack-main($bg-list-light);
    @include transition(transform 0.2s, box-shadow 0.2s);
    padding: 0.75rem 1.25rem;
    width: 100%;

    &:hover {
      @include box-shadow(0px, 6px, 8px, rgba(0, 0, 0, 0.15));
      @include transform(scale(1.02));
    }
  }

  &.text {
    @include font-stack-main($active-bright-blue);
    @include transition(transform 0.2s);
    background-color: transparent;

    &:hover {
      @include transform(scale(1.02));
    }
  }

  &.visible {
    color: $text-color-completed-dark;
    position: absolute;
    right: 0;
    top: 0;

    &.icon-visible {
      @include size-icon(1.7, 1.7);
    }
  }

  &.update {
    @include flex(center, center);
    @include border-radius(50%);
    @include size-icon(1.8, 1.8);
    background: $gradient-blue-purple;
    color: $bg-list-light;

    &.icon-update,
    &.icon-add {
      @include size-icon(1.5, 1.5);
    }
  }

  &.delete {
    background-color: transparent;
    color: $text-color-completed-dark;
    @include transition(transform 0.2s);

    &:hover {
      @include transform(scale(1.1));
    }

    &.icon-cross {
      @include size-icon(1.7, 1.7);
    }
  }

  &.filter {
    background-color: transparent;
    @include font-stack-sm;
    @include transition(color 0.3s, border-bottom 0.3s ease-in-out);

    &.active {
      border-bottom: 1px solid $active-bright-blue;
      color: $active-bright-blue;
    }

    &:hover {
      color: $active-bright-blue;
    }
  }
}
