@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    @include font-stack-nav-main;

    &:hover {
        color: $text-color-main-light;
    }

    &:focus {
        color: $active-bright-blue;
        outline: 0px solid transparent;
    }

    &__dark {
        &:hover {
            color: $active-bright-blue;
        }
    }
}