@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.button {
  cursor: pointer;
  border: none;

  &.dark {
    border-color: $bg-list-light;
  }

  &.light {
    border-color: linear-gradient(
      to left,
      hsl(192, 100%, 67%),
      hsl(280, 87%, 65%)
    );
  }

  &.circle {
    @include flex(center, center, row, nowrap);
    border: 1px solid $text-color-completed-light;
    border-radius: 50%;
    height: 1.7rem;
    width: 1.7rem;
    background: linear-gradient(
      to left,
      hsl(192, 100%, 67%),
      hsl(280, 87%, 65%)
    );

    &:hover {
      transform: scale(1.1);
    }

    &__icon-status {
      width: 1.2rem;
      height: 1.2rem;
      color: $bg-list-light;
    }

    &__icon-add {
      @include size-icon;
      color: $bg-list-light;
    }
  }

  &.noborder {
    @include font-stack-main;
    background-color: transparent;
    color: $active-bright-blue;
  }

  &.nav {
    border: none;
    background-color: transparent;
    @include font-stack-nav-main;

    &:hover {
      color: $active-bright-blue;
    }
  }

  &.rectangle {
    padding: 0.5rem 1rem;
    width: 8rem;
    @include font-stack-main;
    background: linear-gradient(
      to left,
      hsl(192, 100%, 67%),
      hsl(280, 87%, 65%)
    );
    border-radius: 8px;
    color: $bg-list-light;
    border: 1px solid;
  }

  &.delete {
    height: 1.7rem;
    width: 1.7rem;
    border: none;
    background-color: transparent;
    color: $text-color-completed-dark;

    &:hover {
      transform: scale(1.1);
    }

    &.icon-cross {
      width: inherit;
      height: inherit;
    }
  }

  &.visibility {
    height: 1.7rem;
    width: 1.7rem;
    border: none;
    background-color: transparent;
    color: $text-color-completed-dark;
    position: absolute;
    right: 0;
    top: -2px;

    &.icon-visibility {
      width: inherit;
      height: inherit;
    }
  }

  &.active {
    color: $active-bright-blue;
  }

  &.btn-circle {
    @include flex(center, center, row, nowrap);
    padding: 0.5rem;
    border-radius: 50%;
    border: 2px solid $bg-list-light;
    cursor: pointer;
    background: transparent;

    &:hover {
      transform: scale(1.1);
    }

    &__icon {
      @include size-icon;
      color: $bg-list-light;
    }
  }
}
