@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.footer {
  width: 100%;
  padding: 1rem;
  @include font-stack-footer;

  &.dark {
    color: $text-color-completed-dark;
  }

  &__content {
    width: 100%;
    text-align: center;
  }

  &__container-heart-icon {
    margin: 0 0.5rem;
  }

  &__icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}
