@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
    width: 100%;
    position: absolute;
    // bottom: -5%;
    padding: 1rem;
    @include font-stack-footer;
    background-color: $bg-main-light;

    &__dark {
        color: $text-color-completed-dark;
        background-color: $bg-main-dark;
    }

    &__content {
        width: 100%;
        text-align: center;
    }

    &__container-heart-icon {
        margin: 0 0.5rem;
    }

    &__icon {
        width: 1.25rem;
        height: 1.25rem;
    }
}