@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
    padding: 2rem 1rem;
    text-align: center;
    @include font-stack-footer-light;
    background-color: $bg-main-light;

    &__dark {
        @include font-stack-footer-dark;
        background-color: $bg-main-dark;
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }
}