@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
    &__light {
        @include style-bg-image-header;
        background-image: url('../../assets/images/bg-light.jpg');
    }

    &__dark {
        @include style-bg-image-header;
        background-image: url('../../assets/images/bg-dark.jpg');
    }

    &__container {
        width: 90%;
        @include flex(space-between, center, row, nowrap);

        @include tablet {
            width: 50%;
            margin: 0 auto;
        }
    }

    &__heading {
        @include font-stack-header;
    }

    &__button-mode {
        @include size-icon-mode;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }

}