@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.header {
  @include style-bg-image-header;
  padding: $space-md;
  width: 100%;

  &__container {
    width: 100%;
    height: 100%;
    @include flex(space-between, center, column);
  }

  &__nav-item {
    margin-left: auto; 
    @include flex(space-between, center, row);
    gap: $space-md;
  }

  &__wrapper {
    gap: $space-md;
    width: 90%;
    margin: auto 0;
    @include flex(space-between, center, row, wrap);

    @include tablet {
      width: 70%;
    }
  }

  &__heading {
    @include font-stack-header;
  }

  &__quote {
    @include box-shadow(0px, 4px, 10px, $bg-list-light);
    @include border-radius;
    @include flex(flex-start, flex-start, column);
    @include font-stack-quote;
    font-style: italic;
    width: 100%;
    padding: $space-md;
  }

  &__quote-content {
    margin-bottom: $space-md;
  }

  &__quote-footer {
    align-self: end;
  }
}
