@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.error-message {
  @include font-stack-sm($active-bright-blue);
  width: 100%;

  &.new {
    padding: 0 $space-md $space-md $space-md;
  }

  &.update {
    padding-top: $space-md;
  }

  &.login {
    text-align: center;
  }

  &.form {
    text-align: left;
  }
}
